{deps, [
	{cowlib, ".*", {git, "git://github.com/ninenines/cowlib.git", "1.0.0"}},
	{ranch, ".*", {git, "git://github.com/ninenines/ranch.git", "1.0.0"}}
]}.

{port_specs, [
	{"priv/websocket_utils.so", [
		"c_src/websocket_utils.c"
	]}
]}.

{port_env, [
    {".*", "CFLAGS", "$CFLAGS -Wall -Werror -O3 -std=c99"}
]}.
